:root {
    --background-color: #bbcbe9ad;
    --argentina-color: #6CACE4;
    --header-font-color: #FFFFFF;
    --field-background-color: #ededee;
    --field-background-color-hover: #d9dddf;
    --border-color: #7D4016;
    --golden-border-color: #FFB81C;
    --button-background-color: #6CACE4;
    --button-hover-background: #3b4b57;
    --button-active-background: #2a3a46;
    --font: 'Varela Round', sans-serif;
    --restart-border: #233749;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font);
    line-height: 1.6;
    /* footer support */
    margin-bottom: 80px;
  }
  
  h1 {
    line-height: 1.2;
  }
  
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* HEADER */
  
  .header {
    padding: 20px;
    border-bottom: 20px solid var(--golden-border-color);
    background-color: var(--argentina-color);
    color: var(--header-font-color);
    font-family: 'Odibee Sans', sans-serif;
  }

  .title {
    font-size: 100px;
    text-align: center;
  }
  
  /* MAIN */
  
  .main {
    padding: 0 20px;
  }
  
  .message {
    padding: 20px 0;
    font-size: 50px;
    text-align: center;
    font-family: 'Odibee Sans', sans-serif;
    margin-bottom: 15px;
    color: var(--border-color);
  }
  
  .gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 454px;
    height: 454px;
    gap: 15px;
    margin: 0px auto;
    margin-top: 1em;
    margin-bottom: 50px;
  }
  
  .field {
    width: 150px;
    height: 150px;
    border: 15px solid var(--argentina-color);
    background-color: var(--field-background-color);
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
  }
  
  .field:hover {
    background-color: var(--field-background-color-hover);
  }

  .playerX {
    color: var(--golden-border-color);
  }

  .playerX {
    color: var(--border-color);
  }
  
  .center {
    display: flex;
    justify-content: center;
  }

  .winner {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .hide {
    display: none;
  }
  
  .restart-button {
    padding: 10px 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 15px solid var(--argentina-color);
    color: var(--golden-border-color);
    background-color: var(--header-font-color);
    border-radius: 7px;
    font-size: 50px;
    font-family: 'Odibee Sans', sans-serif;
    transition: all 0.6s ease-in-out
  }
  
  .restart-button:hover {
    border: 15px solid var(--restart-border);
    background-color: var(--button-background-color);
    color: var(--header-font-color);
  }
  
  .restart-button:active {
    background-color: var(--button-active-background);
  }
  
  /* FOOTER */
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Odibee Sans', sans-serif;
    color: var(--border-color);
  }
  
  .fa-github {
    color: var(--border-color);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    animation: beat .25s infinite alternate;
	  transform-origin: center;
  }

  .cup {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    height: 44px;
    width: 44px;
    transition: transform 0.5s ease-in-out;
  }

  .cup:hover {
    animation: beat .30s infinite alternate;
	  transform-origin: center;
  }

  #odin {
    text-decoration: none;
    color: var(--border-color);
  }
  
  @keyframes beat{
    to { transform: scale(1.4); }
  }

  /* MEDIA QUERIES */
  
  @media (max-width: 660px) {
    .title {
      font-size: 60px;
    }
  
    .message {
      font-size: 40px;
    }
  
    .restart-button {
      font-size: 40px;
    }
  
    .gameboard {
      width: 304px;
      height: 304px;
    }
  
    .field {
      width: 100px;
      height: 100px;
      font-size: 70px;
    }
  }
  
  @media (max-width: 420px) {
    .title {
      font-size: 50px;
    }
  
    .message {
      font-size: 36px;
    }
  
    .restart-button {
      font-size: 36px;
    }
  }

  @media (max-width: 350px) {
    .title {
      font-size: 30px;
    }
  
    .message {
      font-size: 32px;
      margin-left: 60px;
    }
  
    .center {
      margin-left: 70px;
    }

    .restart-button {
      font-size: 32px;
    }

    .gameboard {
      width: 204px;
      height: 204px;
    }
  
    .field {
      width: 80px;
      height: 80px;
      font-size: 32px;
    }

    .main {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 70px;
    }
  }